* {
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  background-color: #f7f0f0;
}

button {
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  background-color: rgb(196, 22, 22);
  color: white;
  padding: 1em 2em;
  border-radius: .25em;
  box-shadow: 0 1px 1px black;
}


button:hover {
  cursor: pointer;
}

button:active {
  opacity: .6;
}

/* ********** Header ********** */
header {
  padding: 2rem 1% 1em 1%;
  background-image: linear-gradient(rgb(196, 22, 22), rgb(116, 3, 3));
}
.header-scrabble-container {
  display: flex;
  justify-content: center;
}

.header-scrabble-letter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7e3c9;
  margin: 1%;
  width: 5vw;
  padding: .7em;
  aspect-ratio: 1 / 1;
  box-shadow: -1px 1px 1px rgb(71, 53, 29);
  border: 1px solid #e7d5bc;
  border-radius: 2px;
}

.header-scrabble-letter {
  padding: 0;
  margin: 0;
  font-size: 4vw;
  font-weight: 700;
  color: black;
  line-height: 0;
}

.header-score-tracker {
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-top: .5em;
  color: #e7d5bc;
  font-weight: 700;
}

/* ********** Start New Game Content ********** */

h2 {
  font-size: 1.3rem;
}
.start-new-game-container, .names-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=text], input[type=number] {
  width: fit-content;
  margin-bottom: 2em;
  border: none;
  border: 1px solid rgb(116, 3, 3);
  height: 2em;
  border-radius: .25em;
  background-color: white;
  text-align: center;
 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

label {
  margin-bottom: 1em;
}

/* ********** Game Content ********** */

.game-content-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
 
}

/* ***** Score Header ***** */

#score-header-container {
  grid-row: 1;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  margin: 1em auto .5em auto;
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgb(116, 3, 3);
}

#score-header-p1 {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}

#score-header-p2 {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}

#score-header-p3 {
  grid-row: 2;
  grid-column: 1;
  text-align: center;
}

#score-header-p4 {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
}

.score-header-name {
  color: rgb(116, 3, 3);
  font-weight: 700;
  text-align: center;
}

.score-info-div {
  text-align: left;
}

.score-header-labels {
  font-size: .7rem;
  margin-right: .5rem;
}

.linkToWordList {
  background-color: rgb(196, 22, 22);
  font-size: .8rem;
  width: fit-content;
  height: fit-content;
  padding: .5em 2em;
  border-radius: 5px;
  margin: auto;
  color: white;
   text-decoration: none;
}
/* ***** Game Content Form ***** */

.select-player-label, .select-player-input {
  margin: 2em .5em;
}
.select-player-input option{
  font-family: 'Comfortaa', cursive;
  font-size: .7rem;
}

.select-player-input {
  width: 100px;
  height: 2em;
  border: none;
}

.player-score-input-container {
  max-width: 350px;
}
.player-score-input-container input[type=text] {
  width: 15%;
  height: 1.5em;
  margin: .5em;
  font-size: 2rem;
}

.hidden-radio {
  display: none;
}
.single-letter-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-label {
  padding: .3em;
  border: 2px outset rgb(206, 169, 169);
  border-radius: 5px;
  font-size: .95rem;
}

.radio-label-d {
  border-right: 1px solid rgb(116, 3, 3);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.radio-label-t {
  border-left: 0;
  border-right: 1px solid rgb(116, 3, 3);
  border-radius: 0;
}

.radio-label-default {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

input[type=radio]:checked + label {
  background-color: rgb(196, 22, 22);
  color: white;
}

input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 1.5em;
}

.double-triple-word-checkboxes {
  display: flex;
  flex-direction: column;
  margin: 1em 0 2em 0;
}

#tripleWordCheck, #doubleWordCheck {
 margin-left: 1em;
}

.double-triple{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-score-button {
  padding: 1em;
  margin-bottom: 3em;
}

/* ********** Word Lists ********** */

.xButton {
  padding: .2em .2em .1em .2em;
  font-size: .7rem;
  height: fit-content;
  margin-left: 1em;
  margin-bottom: .2em;
  box-shadow: none;
  text-align: center;
}

.wordListWordDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
}
.wordListDiv {
  background-color: #e7d5bc;
  padding: 2em;
  margin: 2em;
  box-shadow: 0px 1px 1px rgb(71, 53, 29);
  border: 1px solid #e7d5bc;
  border-radius: 2px;
}

.score-header-name {
  font-size: 1.3rem;
  margin-bottom: 0;
}

/* ********** End Game Content ********** */

.end-game-content {
  position: fixed;
  top: 200px;
  left: 5%;
  right: 5%;
  color: white;
  background-color: rgb(196, 22, 22);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 3px 1px rgb(116, 3, 3);
  font-weight: 700;
  z-index: 1001;
  width: 90%;
}

.congrats-text {
  font-size: 1.2rem;
  letter-spacing: .1em;
}
.end-game-scores-div {
  background-color: rgb(116, 3, 3);
  padding: .5em .5em .5em 1em;
  border-radius: 10px;
  text-align:left;
  font-size: .9rem;
}

#play-again-button {
  background-color: #e7d5bc;
  color: rgb(116, 3, 3);
}

#end-game-button {
  margin-bottom: 4em;
}

@media (min-width:500px) {
  html {
    font-size: 18px;
  }
  #score-header-container {
    display: flex;
    justify-content: center;
    gap: 15em;
    padding: 0 2em 1em 2em;
  }

  .player-score-input-container {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  .player-score-input-container input[type=text] {
    width: 1.5em;
    height: 1.5em;
    margin: .5em;
    font-size: 2rem;
  }

  .end-game-content {
    max-width: 400px;
    margin: 3em auto;
  }

  .start-new-game-container {
    background-color: rgb(196, 22, 22);
    width: fit-content;
    margin: 5em auto;
    padding: 3em;
    color: #fcf5eb;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgb(116, 3, 3);
  }

  .start-game-button {
    background-color: #e7d5bc;
    color: black;
  }

  .double-triple-word-checkboxes {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
  }
}

@media (min-width: 750px) {
  .player-score-input-container {
    justify-content: center;
    gap: 2em;
    max-width: 1100px;
  }

}